.heroContainer {
  height: 60dvh;
}

.heroContent {
  background-color: var(--secondary-bg);
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: var(--space-2xs);
}

.heroTxt {
  color: var(--black);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-2xs);
}

.heroTxt p {
  text-align: center;
  margin: 0 auto;
  width: 85%;
  hyphens: auto;
  overflow-wrap: break-word;
  line-height: 0.9;
  font-size: var(--step-1);
}

.heroMainBtn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: var(--space-xs);
  width: 60%;
  color: var(--black);
  min-width: fit-content;
  text-decoration: none;
  border: 2px solid var(--btn-secondary-border);
  line-height: 0.8;
}

.heroSecondaryBtn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--btn-secondary-border);
  background: transparent;
  color: var(--black);
  font-size: var(--step-1);
  padding: var(--space-xs);
  width: 60%;
  min-width: fit-content;
  text-decoration: none;
}

.heroTxt button {
  display: block;
  margin: 0 auto;
  min-width: fit-content;
  width: 70%;
}

.heroContainer img {
  display: none;
}

.mainWrapper {
  padding: 0 var(--space-xs);
  background-color: var(--bg);
}

.divider {
  text-align: center;
  padding: var(--space-2xs) var(--space-xs);
  background-color: var(--bg);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.expectationContainer {
  display: flex;
  justify-content: center;
  gap: var(--space-s);
  flex-wrap: wrap;
  padding: var(--space-2xs) 0;
}

.aboutMe {
  display: flex;
  flex-direction: column;
}

.aboutMe h2 {
  background-color: var(--header-bg);
  color: var(--white);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  text-align: center;
  padding: var(--space-m);
}

.aboutMe h3 {
  text-align: center;
}

.aboutMeIntro {
  padding-top: var(--space-2xs);
}

.aboutHeader {
  overflow: auto;
}

.aboutHeader img {
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.aboutText {
  display: block;
  text-align: left;
  padding: var(--space-2xs);
  hyphens: auto;
  overflow-wrap: break-word;
}

.firstParagraph {
  margin-bottom: var(--space-2xs);
}

.aboutMeBtn {
  width: 90%;

  border: 2px solid var(--btn-secondary-border);
  padding: var(--space-2xs) var(--space-s);
  text-align: left;
  display: flex;
  justify-self: center;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: var(--space-l);
  font-weight: bolder;
  text-decoration: none;
  color: var(--black);
}
.aboutMeBtn:hover {
  background-color: var(--btn-secondary-hover);
}

.processContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-m) 0;
}

.iconWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--step--1);
}

.iconHeader {
  font-weight: bold;
  font-size: var(--step-2) !important;
  max-width: 100% !important;
}
.iconWrap p {
  font-size: var(--step-0);
  max-width: 80%;
  hyphens: auto;
  word-break: break-word;
  text-align: center;
  padding-bottom: var(--space-2xs);
}

.testimonials h2 {
  background-color: var(--header-bg);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  text-align: center;
  padding: var(--space-m);
  color: var(--white);
}

.testimonialContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  justify-content: center;
  gap: var(--space-3xs);
  padding: var(--space-2xs) 0;
}

.form h2 {
  background-color: var(--header-bg);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  text-align: center;
  padding: var(--space-m);
  color: var(--white);
}

.formContainer {
  padding: var(--space-2xs) var(--space-xs);
  min-height: fit-content;
}
