.footer {
  background-color: var(--header-bg);
  padding: var(--space-s) var(--space-xs);
  color: var(--white);
}

.footer ul {
  list-style: none;
  display: flex;
}

.socials {
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
}

.socials li {
  align-items: center;
}

.legal {
  gap: 0;
  justify-content: space-between;
  align-items: center;
}

.policies {
  gap: var(--space-3xs);
  justify-content: center;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.policies a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
}

.policies a:hover {
  text-decoration: underline;
}
