.header {
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: var(--space-2xs) var(--space-2xs);
}
.header a {
  color: var(--white);
}

.header ul {
  list-style: none;
  display: flex;
  text-overflow: ellipsis;
}
