.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.header ul {
  list-style: none;
  display: flex;
  text-overflow: ellipsis;
}

.header a {
  text-decoration: none;
}
.header h1 {
  color: black;
}
